*{
    -fx-font-size: 13;
}
.menu-bg{
    -fx-background-color: #0F4C81;
}
.app-bg{
    -fx-background-color: #f1f5f9;
}
.split-pane > .split-pane-divider {
    -fx-padding: 0 2px 0 2px;
    -fx-border: 0;
    -fx-background-color: transparent;
}
.input{
    -fx-font-size: 15;
    -fx-background-radius: 7;
}
.password{
    -fx-font-size: 13;
    -fx-padding: 7 7 7 7;
}
.btn{
    -fx-margin: 0 10 0 10;
    -fx-cursor: hand;
    -fx-font-size: 12;
    -fx-background-radius: 7;
    -fx-label-padding: 5 8 5 8;
}
.btn:hover{
    -fx-background-color: #0000004c;
}
.sign-in-button{
    -fx-background-color: #0F4C81;
    -fx-text-fill: #fff;
    -fx-padding: 5 5 5 5;
}
.sign-up-button{
    -fx-background-color: #f1f5f9;
    -fx-border: 0;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #0F4C81;
}
.circle-btn{
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-background-radius: 35;
}